<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997505899263-1bagjmfod2l2atsagmr890k30cbuh37a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997505899263-1bagjmfod2l2atsagmr890k30cbuh37a</string>
	<key>API_KEY</key>
	<string>AIzaSyBGufms6mINoi1HSCNX1OJCFAUhZLXOssY</string>
	<key>GCM_SENDER_ID</key>
	<string>997505899263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ppforum.bj</string>
	<key>PROJECT_ID</key>
	<string>rccgna-ppforum</string>
	<key>STORAGE_BUCKET</key>
	<string>rccgna-ppforum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997505899263:ios:84da9d39e135dfccfa8aca</string>
	<key>DATABASE_URL</key>
	<string>https://rccgna-ppforum.firebaseio.com</string>
</dict>
</plist>