<ion-header>
  <ion-toolbar color="ppforum">
    <ion-text>
      <div class="ion-text-wrap ion-text-end ion-padding-end">
        RCCGNA PROVINCIAL <br> PASTOR'S FORUM
      </div>
    </ion-text>
    <ion-buttons slot="start" style="flex-flow: column">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <img src="assets/img/rccg_logo.png" alt="" slot="end" width="70vw" class="ion-padding-vertical ion-padding-end">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="remove-top">
    <img src="assets/img/Schedule.jpg" alt="">
    <ion-item color="light">
      <ion-button fill="clear" (click)='goBack()'>
        <ion-icon slot="icon-only" name="caret-back-circle-outline" color="dark"></ion-icon>
      </ion-button>
      <div class="ion-text-center center-me">
        <h4>{{getMon(dates) +' '+dates.getFullYear()}}</h4>
      </div>
      <ion-button slot="end" fill="clear" (click)='goNext()'>
        <ion-icon slot="icon-only" name="caret-forward-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
          <ion-button shape="round" expand="block" color="ppf-light" (click)="addNew()">Create A Schedule</ion-button>
      </ion-col>
    </ion-row>


 <div *ngIf="showNotes">
      <div *ngFor="let item of notes | keyvalue" class="card item-avatar item-text-wrap" (click)="itemTapped(item)">
        <ion-row class="ion-padding-bottom" >
          <ion-col size="2" >
            <ion-avatar class="ion-padding-start">
              <app-bj-avatar  charCount="3" height="100px" width="100px" numData="{{getNum(item.key)}}" textData="{{getDay(item.key)}}" shape="round"></app-bj-avatar>
            </ion-avatar>
          </ion-col>
          <ion-col size="10">
            <ion-item *ngFor="let tins of item.value" color="light">
              <ion-label >
                <p style="font-weight: bolder">{{tins.topic}}</p>
                <p> {{ tins.time | date:'shortTime'}}  </p>
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>

      </div>
    </div>
    <ion-item *ngIf="!showNotes"  >
      <h3 style="text-align:center;">There are no scheduled items to show</h3>
    </ion-item>
  </ion-list>
</ion-content>
