<ion-tabs>
  <ion-tab-bar color="mtn" slot="botton">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scheduler">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Scheduler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="directory">
      <ion-icon name="file-tray-full"></ion-icon>
      <ion-label>Directory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
